.doubleChartLayout{
  background: black;
  width: 100%;
}

.doubleChartItem1 {
  background-image: linear-gradient(#E8AA42, #ffffff);
  width: 50%;
  float: left;
  overflow: hidden;
  padding-bottom: 1.5rem;
}

.doubleChartItem2 {
  background-image: linear-gradient(#E8AA42, #ffffff);
  width:50%;
  float:right;
  overflow: hidden;
  padding-bottom: 1.5rem;
}